        <!--===== About =====-->
        <section class="about section" id="about">
            <h2 data-heading="MaPa Consulting" class="section__title" data-lang="about.title">Über mich</h2>

            <div class="about__container container grid">
                <img src="assets/img/portrait_tranparent.png" alt="Mario Pape" class="about__img">

                <div class="about__data">
                    <h3 class="about__heading">Mario Pape - Beratung für operative Exzellenz</h3>
                    <p class="about__description" data-lang="about.description1">MAPA Consulting ist auf operative Exzellenz durch Restrukturierung, Prozessoptimierung, Führungsstrategien und KI spezialisiert.</p>
                    <p class="about__description" data-lang="about.description2">Mit umfassender Erfahrung in der Leitung und Transformation von Produktionsunternehmen biete ich maßgeschneiderte Lösungen, die nachhaltige Ergebnisse liefern.</p>
                    <p class="about__description" data-lang="about.description3">Mein Know-how umfasst LEAN-Management, JIT-Produktion, Qualitätsmanagement, Industrie 4.0, ERP- und KI Implementierung, um Unternehmen für zukünftige Herausforderungen wettbewerbsfähig aufzustellen.</p>
                    <div class="about__info grid">
                        <div class="about__box">
                            <i class="uil uil-award about__icon"></i>
                            <h3 class="about__title" data-lang="about.stats.experience.title">Jahre Erfahrung</h3>
                            <span class="about__subtitle" data-lang="about.stats.experience.number">30</span>
                        </div>

                        <div class="about__box">
                            <i class="uil uil-suitcase-alt about__icon"></i>
                            <h3 class="about__title" data-lang="about.stats.projects.title">Abgeschlossene Projekte</h3>
                            <span class="about__subtitle" data-lang="about.stats.projects.number">50+</span>
                        </div>

                        <div class="about__box">
                            <i class="uil uil-building about__icon"></i>
                            <h3 class="about__title" data-lang="about.stats.companies.title">Unterstützte Unternehmen</h3>
                            <span class="about__subtitle" data-lang="about.stats.companies.number">25+</span>
                        </div>
                    </div>
                    <a href="#contact" class="button"><i class="uil uil-navigator button__icon"></i>
                        <span data-lang="nav.contact">Kontakt</span>
                    </a>
                </div>
            </div>
        </section>
