        <!--===== Contact =====-->
        <section class="contact section" id="contact">
            <h2 data-heading="Kontakt" class="section__title" data-lang="contact.title">Kontakt</h2>

            <div class="contact__container container grid">
                <div class="contact__content">
                    <div class="contact__info">
                        <div class="contact__card">
                            <i class="uil uil-envelope-edit contact__card-icon"></i>
                            <h3 class="contact__card-title" data-lang="contact.emailTitle">E-Mail</h3>
                            <span class="contact__card-data" data-lang="contact.info.email">info@mapa-unternehmensberatung.de</span>
                            <a href="mailto:info@mapa-unternehmensberatung.de" class="contact__button">
                                <span data-lang="contact.writeMe">Schreiben Sie mir</span> <i class="uil uil-arrow-right contact__button-icon"></i>
                            </a>
                        </div>

                        <div class="contact__card">
                            <i class="uil uil-phone contact__card-icon"></i>
                            <h3 class="contact__card-title" data-lang="contact.phoneTitle">Telefon</h3>
                            <span class="contact__card-data" data-lang="contact.info.phone">+49 175 9030149</span>
                            <a href="tel:+491759030149" class="contact__button">
                                <span data-lang="contact.callMe">Rufen Sie mich an</span> <i class="uil uil-arrow-right contact__button-icon"></i>
                            </a>
                        </div>

                        <div class="contact__card">
                            <i class="uil uil-map-marker contact__card-icon"></i>
                            <h3 class="contact__card-title" data-lang="contact.addressTitle">Adresse</h3>
                            <span class="contact__card-data" data-lang="contact.info.address">Lindenstraße 2, 97839 Esslebach</span>
                            <a href="https://maps.google.com/?q=Lindenstraße+2,+97839+Esslebach" target="_blank" class="contact__button">
                                <span data-lang="contact.viewLocation">Standort anzeigen</span> <i class="uil uil-arrow-right contact__button-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="contact__content">
                    <p class="contact__description" data-lang="contact.description">Nehmen Sie Kontakt auf für ein unverbindliches Erstgespräch zu Ihren individuellen Herausforderungen.</p>
                    <form action="" class="contact__form">
                        <div class="input__container">
                            <input type="text" class="input">
                            <label for="" data-lang="contact.form.name">Name</label>
                            <span data-lang="contact.form.name">Name</span>
                        </div>
                        <div class="input__container">
                            <input type="email" class="input">
                            <label for="" data-lang="contact.form.email">E-Mail</label>
                            <span data-lang="contact.form.email">E-Mail</span>
                        </div>
                        <div class="input__container">
                            <input type="text" class="input">
                            <label for="" data-lang="contact.form.subject">Betreff</label>
                            <span data-lang="contact.form.subject">Betreff</span>
                        </div>
                        <div class="input__container textarea">
                            <textarea name="" id="" class="input"></textarea>
                            <label for="" data-lang="contact.form.message">Nachricht</label>
                            <span data-lang="contact.form.message">Nachricht</span>
                        </div>
                        <button type="submit" class="button"><i class="uil uil-message button__icon"></i>
                            <span data-lang="contact.form.send">Nachricht senden</span>
                        </button>
                    </form>
                </div>
            </div>
        </section>     
        
