        <!--========== FOOTER ==========-->
        <footer class="footer">
            <div class="footer__bg">
                <div class="footer__container container grid">
                    <div>
                        <h1 class="footer__title" data-lang="footer.title">MaPa Consulting</h1>
                        <span class="footer__subtitle" data-lang="footer.subtitle">Operative Exzellenz</span>
                    </div>

                    <ul class="footer__links">
                        <li>
                            <a href="#services" class="footer__link" data-lang="nav.services">Leistungen</a>
                        </li>
                        <li>
                            <a href="#work" class="footer__link" data-lang="nav.projects">Projekte</a>
                        </li>
                        <li>
                            <a href="#contact" class="footer__link" data-lang="nav.contact">Kontakt</a>
                        </li>
                    </ul>

                    <div class="footer__socials">
                        <a href="https://www.linkedin.com/in/mario-pape-b481a165/" target="_blank" class="footer__social">
                            <i class="uil uil-linkedin"></i>
                        </a>
                        <a href="https://www.xing.com/" target="_blank" class="footer__social">
                            <i class="uil uil-external-link-alt"></i>
                        </a>
                    </div>
                </div>

                <p class="footer__copy" data-lang="footer.copyright">&#169; 2025 MaPa Consulting. Alle Rechte vorbehalten.</p>
            </div>
        </footer>
    </main>

