/*===== Buttons =====*/
.button {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--skin-color);
    color: var(--skin-color-light);
    padding: .75rem 1.4rem;
    border-radius: .25rem;
    font-weight: var(--font-medium);
    position: relative;
    z-index: 1;
}

.button::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #343a40;
    z-index: -1;
    transform-origin: center;
    transform: scale(0);
    border-radius: .25rem;
    transition: .3s;
}

.button:hover::after {
    transform: scale(1);
} 

.button__icon {
    font-size: 1.25rem;
}

