/*=============== LAYOUT ===============*/
.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    padding: 6.5rem 0 2rem;
}

.section__title {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-3);
}

.section__title::before {
    content: attr(data-heading);
    display: block;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--skin-color);
}

/*=============== SIDEBAR ===============*/
.sidebar {
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: var(--body-color);
    border-right: 1px solid var(--box-color);
    transition: .5s;
    z-index: 1000;
}

/*=============== MAIN ===============*/
.main {
    margin-left: 100px;
}

.nav__logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 1.8rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--skin-color);
    text-align: center;
    margin: auto;
}

.nav__logo-text {
    font-size: 1.125rem;
    color: var(--skin-color-light);
    font-weight: var(--font-bold);
    line-height: 40px;
}

.nav__menu {
    position: fixed;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    width: 100vh;
}

.menu {
    display: flex;
}

.nav__list {
    display: flex;
    flex-direction: row-reverse;
    margin: -2px auto 0 auto;
}

.nav__link {
    float: right;
    height: 100%;
    line-height: 100px;
    padding: 0 0.75rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    position: relative;
    transition: .4s;
}

/* Language switcher moved to the bottom section */

.nav__toggle {
    height: 32px;
    width: 36px;
    cursor: pointer;
    position: fixed;
    right: 1.5rem;
    top: 2rem;
    font-size: 1.2rem;
    border-radius: .25rem;
    background-color: var(--skin-color);
    color: var(--title-color);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: var(--z-fixed);
}

.nav__close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
    display: none;
}

/* Active Link */
.nav__link.active-link, .nav__link:hover {
    color: var(--skin-color);
}

.nav__link.active-link::after, .nav__link:hover::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--skin-color);
    border-radius: 50%;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    margin: auto;
}
