/*========== BREAKPOINTS ==========*/
/* For Large Devices */
@media screen and (max-width: 1408px) {
    .container {
        margin-left: var(--mb-2-5);
        margin-right: var(--mb-2-5);
    }
}

@media screen and (max-width: 1216px) {
    .about__container {
        column-gap: 2.5rem;
    }

    .about__description {
        padding-right: 0;
    }

    .work__container {
        grid-template-columns: repeat(2, 330px);
        gap: 2.5rem;
    }
}

@media screen and (max-width: 1024px) {
    html {
        scroll-padding-top: 0;
    }

    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .sidebar {
        width: 100%;
        z-index: 999;
        transform: translateX(-100%);
    }

    .show-sidebar {
        transform: translateX(0);
    }

    .nav__logo {
        display: none;
    }

    .nav__menu {
        height: 100%;
        width: 100%;
        transform: rotate(0deg) translateX(0);
        display: flex;
        justify-content: center;
    }

    .nav__list {
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .nav__link {
        padding: 1rem 0;
        line-height: 1.5;
    }

    .nav__link.active-link::after, .nav__link:hover::after {
        bottom: 0;
    }

    .nav__close {
        display: block;
    }

    .nav__toggle {
        display: flex;
    }

    .main {
        margin-left: 0;
    }

    .about.section {
        padding: 4rem 0 4rem;
    }

    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
        justify-items: center;
    }

    .about__img {
        width: 280px;
        justify-self: center;
    }

    .about__data {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__heading {
        max-width: 600px;
    }

    .about__description {
        max-width: 600px;
    }

    .about__info {
        justify-content: center;
        max-width: 600px;
    }

    .about__box {
        padding: .75rem .5rem;
    }

    .qualification__container {
        grid-template-columns: repeat(2, 290px);
    }

    .qualification__title {
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-2);
    }

    .timeline__item {
        padding-left: 2.5rem;
        margin-bottom: var(--mb-3);
    }

    .timeline__title {
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-0-5);
    }

    .timeline__text {
        font-size: var(--small-font-size);
        margin-bottom: var(--mb-1);
    }

    .timeline__date {
        font-size: var(--normal-font-size);
    }

    .skills__container {
        grid-template-columns: 340px 300px;
    }

    .skills__list {
        row-gap: 1.7rem;
    }

    .work__card {
        padding: 1rem;
    }

    .work__img {
        margin-bottom: var(--mb-0-75);
    }

    .work__title {
        margin-bottom: var(--mb-0-25);
    }

    .services__container {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        gap: 1.5rem;
    }

    .testimonial__card {
        padding: 1.25rem 1.5rem;
    }

    .portfolio__item-details {
        margin-bottom: var(--mb-1-5);
    }

    .details__info li {
        margin-bottom: var(--mb-0-5);
    }

    .details__title {
        margin-bottom: var(--mb-0-75);
    }
}

/* For Medium Devices */
@media screen and (max-width: 768px) {
    .about.section {
        padding: 3rem 0 4rem;
    }

    .about__img {
        width: 220px;
        justify-self: center;
    }

    .about__container {
        justify-items: center;
    }

    .about__data {
        align-items: center;
    }

    .about__heading {
        text-align: center;
    }

    .qualification__container {
        grid-template-columns: 320px;
        row-gap: 3.5rem;
    }

    .qualification__title {
        font-size: var(--h2-font-size);
        margin-bottom: var(--mb-2-5);
    }

    .timeline__item {
        padding-left: 3rem;
        margin-bottom: var(--mb-3);
    }

    .timeline__title {
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-0-75);
    }

    .timeline__text {
        font-size: var(--normal-font-size);
        margin-bottom: var(--mb-1-5);
        line-height: 1.6;
    }

    .timeline__date {
        font-size: var(--normal-font-size);
    }

    .circle__dot {
        height: 1.2rem;
        width: 1.2rem;
    }

    .skills__container {
        grid-template-columns: 300px;
        row-gap: 3rem;
    }

    .work__container {
        grid-template-columns: 330px;
    }

    .services__container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .services__content {
        padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    }

    .services__icon {
        font-size: 1.5rem;
    }

    .contact__container {
        grid-template-columns: 360px;
        row-gap: 3rem;
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
    }

    .footer__socials {
        justify-self: start;
    }

    .footer__links {
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .footer__bg {
        padding: 2rem 0 3rem;
    }

    .footer__copy {
        margin-top: var(--mb-3);
    }

    .portfolio__popup-inner {
        width: 420px;
        padding: 2.8rem 1.5rem 2.5rem;
    }

    .portfolio__popup-content {
        grid-template-columns: 1fr;
        row-gap: 1.6rem;
    }

    .details__title {
        font-size: var(--normal-font-size);
    }

    .portfolio__popup-close {
        top: .5rem;
    }
}

@media screen and (max-width: 576px) {
    html {
        scroll-padding-top: 0;
    }

    .nav__toggle {
        right: initial;
        left: 1.5rem;
    }

    .home {
        height: initial;
        align-items: initial;
        padding: 7rem 0 2rem;
    }

    .home__container {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
    
    .home__data {
        justify-self: center;
        text-align: center;
        margin-right: 0;
    }

    .home__img {
        display: block;
        width: 250px;
        justify-self: center;
        margin-left: 0;
    }

    .home__quick-contact {
        left: -1rem;
        right: initial;
        flex-direction: column;
    }

    .home__quick-contact-links {
        flex-direction: column;
        gap: 1rem;
    }

    .home__contact-link {
        font-size: 1.5rem;
    }

    .home__contact-link:hover {
        transform: translateX(.25rem);
    }

    .my__info {
        display: none;
    }

    .about.section {
        padding: 2rem 0 5rem;
    }

    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__description {
        padding: 0;
    }

    .services__modal-content {
        padding: 4.5rem 1.5rem 2.5rem;
    }

    .services__modal-description {
        padding: 0;
    }

    .contact__container,
    .work__container {
        grid-template-columns: 300px;
    }

    .footer__container {
        grid-template-columns: 1fr;
    }

    .footer__links {
        justify-self: flex-start;
    }
}

/* For Small Devices */
@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .home__img {
        width: 200px;
    }

    .home__title {
        font-size: var(--h1-font-size);
    }

    .home__subtitle {
        font-size: var(--normal-font-size);
    }

    .about.section {
        padding: 2rem 0 6rem;
    }

    .about__info {
        grid-template-columns: repeat(2, 1fr);
        row-gap: .5rem;
    }

    .contact__container,
    .work__container,
    .skills__container,
    .qualification__container {
        grid-template-columns: 1fr;
    }

    .skills__title {
        font-size: var(--normal-font-size);
    }

    .work__item {
        font-size: var(--small-font-size);
    }

    .work__filters {
        column-gap: .25rem;
    }

    .services__container {
        grid-template-columns: 1fr;
    }

    .services__content {
        padding-right: 3.5rem;
    }
}
