/*===== Services Section =====*/
.services__container {
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;
}

.services__content {
    position: relative;
    background-color: var(--box-color);
    padding: 3rem 2rem 2rem 2rem;
    border-radius: .25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.services__icon {
    display: block;
    font-size: 1.8rem;
    color: var(--skin-color);
    margin-bottom: var(--mb-1);
}

.services__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    line-height: 1.4;
}

.services__button {
    color: var(--skin-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}

.services__button-icon {
    font-size: 1rem;
    transition: .3s;
}

.services__button:hover .services__button-icon {
    transform: translateX(.25rem);
}

.services__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.services__modal-content {
    width: 500px;
    position: relative;
    background-color: var(--box-color);
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: .5rem;
}

.services__modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--skin-color);
    cursor: pointer;
}

.services__modal-title,
.services__modal-description {
    text-align: center;
}

.services__modal-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.services__modal-description {
    font-size: var(--small-font-size);
    padding: 0 3.5rem;
    margin-bottom: var(--mb-2);
}

.services__modal-services {
    row-gap: var(--mb-0-75);
}

.services__modal-service {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.services__modal-icon {
    color: var(--skin-color);
    font-size: 1.1rem;
}

.services__modal-info {
    font-size: var(--small-font-size);
}

/* Active Modal*/
.active-modal {
    opacity: 1;
    visibility: visible;
}

